{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block title %}Register{% endblock %}
{% block main %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>


    <button type="submit" class="btn">Register</button>

{% endblock %}
